.skill{
    display: inline-block;
    border-style:solid;
    border-width: 0.2vw;
    border-color: #a0a0a0;
    border-radius: 0.5vw;
    line-height:3vw;
    margin: 2vw;
    padding: 0.02vw 0.4vw;
    background-color:white;
    cursor: pointer;
}

.goldenSkill{
    background-color: yellow
}

/* .yellowSkill{
    background-color:rgb(255, 145, 0);
}

.blueSkill{
    background-color:rgb(74, 228, 255);
}

.greenSkill{
    background-color:green;
} */

.colorfulSkill{
    background-image: linear-gradient(to bottom right, red, yellow);
}


/* 图标类 */

.skill img{
    margin:0.4vw;
    display: inline-block; 
    vertical-align: middle;
    border-radius: 0.3vw;
    width: 2.2vw;
    height: 2.2vw;
    background-color: rgb(53, 53, 53);
}

