::v-deep {
    .el-dialog {
        background-color: rgb(238, 238, 238);
        width: 800px;
    }
    .uma_dia{
        display: flex;
        justify-content: center;
        flex-wrap: wrap ;
    }
    .uma_header {
        display: flex;
        align-items: center;
        height: 200px;
        width: 600px;
        img{
            margin-bottom: 20px;
            vertical-align:middle;
        }
        .uma_header_name{
            font-size: 28px;
            font-weight: bold;
            color: #8a5417;
            div{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
        }
    }
    .uma_status{
        
        // 数值
        .umainfo_table{
            background-color: #ffff;
            width: 680px;
            border-radius: 10px;
            border-collapse: collapse;
            border-style:hidden;  
            box-shadow: 0 0 0 1px #1eff00;
            .umainfo_name{
                th{
                    color: #ffffff;
                    font-size: 20px;
                    text-shadow: 1.2px 1.2px 1px rgb(71, 71, 71);
                    padding: 3px 15px;
                }
                background-color: #7bff69;
            }
            .umainfo_number{
                td{
                    padding: 3px 10px;
                    img{
                        height:35px;
                        vertical-align:middle;
                    }
                    span{
                        vertical-align:middle;
                        font-size: 26px;
                        font-weight: bold;
                        color: #8a5417;
                        margin: 0 8px;
                    }
                }
                
            }
            
            th,td {
                border: 1px solid #1eff00;
            }
        }
    } 
    
    .uma_info{
        text-align: left;
        width: 680px;
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
        color: #8a5417;
        .uma_config_row{
            margin: 7px 0s;
        }
    
        
        .uma_config_label{
            margin: 5px 13px;
            width: 100px;
            display:inline-block;
            vertical-align:middle;
        }
    
        .uma_config_item{
            width: 100px;
            border-radius: 5px;
            border: 1px solid #b6b6b6;
            display:inline-block;
            background-color:#ffffff;
            margin: 0 12px;
            padding: 1px 5px;
            span{
                display:inline-block;
                width:70px;
                text-align:center;
                vertical-align:middle;
            }
            .uma_config_item_img{
                display:inline-block;
                width:30px;
                text-align:center;
                vertical-align:middle;
            }
            img{
                display:inline-block;
                height:20px;
                vertical-align:middle;
            }
        }
    }
}


