::v-deep {
    .el-dialog {
        background-color: rgb(247, 247, 247);
        width: 800px;
        .el-dialog__body{
            padding-left:0px;
            padding-right:0px;
        }
        z-index: -1;
    }
    .uma_dia{
        display: flex;
        justify-content: center;
        flex-wrap: wrap ;
    }
    .uma_dia_header_bg{
        position: absolute;
        top :0px;
        height: 290px;
        width: 800px;
        z-index: -1;
        background-image: url("/assets/img/bg/CG82a-L.png");
    }
    .uma_header {
        height: 250px;
        width: 100%;
        text-align: center;
        
        // background-color: #1eff00;
        .uma_header_block {
            width: 60%;
            img{
                margin-bottom: 20px;
                margin-top: 20px;
                height: 140px;
            }
            .uma_header_name{
                position: absolute;
                top: 120px;
                left: 350px;
                font-size: 28px;
                font-weight: bold;
                color: #8a5417;
                text-shadow: 0 1.2px white, 1.2px 0 white, -1.2px 0 white, 0 -1.2px white;

            }
        }
    }
    .uma_status{
        
        // 数值表
        .umainfo_table{
            background-color: #ffff;
            width: 680px;
            border-radius: 10px;
            border-collapse: collapse;
            border-style:hidden;  
            box-shadow: 0 0 0 1px #1eff00;
            overflow: hidden;
            .umainfo_name{
                th{
                    color: #ffffff;
                    font-size: 20px;
                    text-shadow: 1.2px 1.2px 1px rgb(71, 71, 71);
                    padding: 3px 15px;
                    background-color: #7bff69;
                }
                
            }
            .umainfo_number{
                td{
                    padding: 3px 10px;
                    img{
                        height:35px;
                        vertical-align:middle;
                    }
                    span{
                        vertical-align:middle;
                        font-size: 26px;
                        font-weight: bold;
                        color: #8a5417;
                        margin: 0 8px;
                    }
                }
                
            }
            
            th,td {
                border: 1px solid #1eff00;
            }
        }
    } 
    
    .uma_info{
        text-align: left;
        width: 680px;
        padding: 20px 0;
        font-size: 18px;
        font-weight: bold;
        color: #8a5417;
        .uma_config_row{
            margin: 7px 0s;
        }
    
        
        .uma_config_label{
            margin: 5px 13px;
            width: 100px;
            display:inline-block;
            vertical-align:middle;
        }
    
        .uma_config_item{
            width: 100px;
            border-radius: 5px;
            border: 1px solid #b6b6b6;
            display:inline-block;
            background-color:#ffffff;
            margin: 0 12px;
            padding: 1px 5px;
            span{
                display:inline-block;
                width:70px;
                text-align:center;
                vertical-align:middle;
            }
            .uma_config_item_img{
                display:inline-block;
                width:30px;
                text-align:center;
                vertical-align:middle;
            }
            img{
                display:inline-block;
                height:20px;
                vertical-align:middle;
            }
        }
    }

    .uma_info_select {
        height:50px;
        .uma_info_selector_group{
            button{
                width:200px;
                height:30px;
                background-color: rgb(72, 255, 72);
                font-size: 15px;
                font-weight: bold;
                color: #ffffff;
                // text-shadow: 0 1.2px white, 1.2px 0 white, -1.2px 0 white, 0 -1.2px white;
            }
            :nth-child(1){
                border-top-left-radius: 50px; 
                border-bottom-left-radius: 50px; 
            }
            :nth-last-child(1){
                border-top-right-radius: 50px; 
                border-bottom-right-radius: 50px;
            }
        }
    }

    .uma_moreinfo {
        width:800px;
        height:350px
    }
}


