$smallpx: -2px;
$borderRadius :7px;
.skill{
    text-align: left;
    width: 250px;
    display: inline-block;
    border:  2px solid transparent;
    border-radius: $borderRadius;
    line-height: 30px;
    margin: 8px 10px;
    padding: 0px 4px 0px 2px;
    // background-color:white;
    cursor: pointer;
    // 实现边框必须的代码
    position: relative;
    outline: 0;
    border: 2px solid transparent;
    border-radius: $borderRadius;
    background-clip: padding-box;


    box-shadow: 0px 3px 0px rgba(94, 94, 94, 0.5);
    
    // 文字效果
    .skill_text{
        margin-left: 4px;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 900;
        color:#58360f;
        text-shadow: 0 1.2px white, 1.2px 0 white, -1.2px 0 white, 0 -1.2px white;
        
    }
}

.goldenSkill{
    background-image: linear-gradient(to right, rgb(255, 255, 193), rgb(255, 173, 66));
    // border-image: #ff9100;

    ::after{
        position: absolute;
        top: $smallpx;
        bottom: $smallpx;
        left: $smallpx;
        right: $smallpx;
        background: linear-gradient(to right, rgb(255, 192, 133), rgb(255, 151, 15)); 
        content: '';
        z-index: -1;
        border-radius: $borderRadius;
    }
}
.commonSkill{
    background-image: linear-gradient(to right, rgb(255, 255, 255) 30%, rgb(226, 226, 226) 70%, rgb(170, 170, 170));
    // border-image: #ff9100;
    position: relative;
    ::after{
        position: absolute;
        top: $smallpx;
        bottom: $smallpx;
        left: $smallpx;
        right: $smallpx;
        background: linear-gradient(to right, rgb(204, 204, 204), rgb(119, 119, 119)); 
        content: '';
        z-index: -1;
        border-radius: $borderRadius;
    }
}
.colorfulSkill{
    background-image: linear-gradient(to right, rgb(190, 255, 152), rgb(154, 255, 242), rgb(225, 174, 255), rgb(255, 180, 224));
    // border-image: #ff9100;
    position: relative;
    ::after{
        position: absolute;
        top: $smallpx;
        bottom: $smallpx;
        left: $smallpx;
        right: $smallpx;
        background: linear-gradient(to right, rgb(152, 255, 93), rgb(77, 255, 231), rgb(198, 99, 255), rgb(255, 99, 190));
        content: '';
        z-index: -1;
        border-radius: $borderRadius;
    }
}
.el-dialog{
    width: 700px;
    z-index: -3;
}


/* 图标类 */
.skill img{
    margin:5px 1px;
    display: inline-block; 
    vertical-align: middle;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    background-color: rgb(53, 53, 53);
}

.skillTotal, .skillTotal_position{
    text-align: left;
    right: 0px;
    left:0px;
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: 50px;
    margin-right: 50px;
    overflow-y: scroll;
    height: 300px;
    border-radius:5px;
    background-color: #f0f0f0;
}
.skillTotal{
    position: absolute;
    z-index: 0;
}
.skillTotal_position{
    visibility: hidden;
    z-index: -3;
}

// 滚轮
.skillTotal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #F5F5F5;
    border-radius:10px;
}
.skillTotal::-webkit-scrollbar{
    width: 6px;
    background-color: #ffffff;
}
.skillTotal::-webkit-scrollbar-thumb {
    background-color: #58585894;
    border-radius:10px;
}